[user]
	name = Mun Joon Teo
	email = teomunjoon101@gmail.com
[color]
	ui = auto 
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "status"]
	added = green bold
	changed = red bold
	deleted = red bold
	untracked = yellow bold
[alias]
	a = add
	bi = bisect
	bib = bisect bad
	big = bisect good
	br = branch
	com = commit -m
	comnv = commit --no-verify -m
	comsign = commit -S -m
	comamend = commit --amend --no-edit
	comamendnv = commit --amend --no-edit --no-verify
	amendmsg = commit --amend
	amenddate= commit --amend --reset-author
	amendmsgnv = commit --amend --no-verify
	cl = clone
	cp = cherry-pick
	cpc = cherry-pick --continue
	cpa = cherry-pick --abort
	f = fetch
	fp = fetch --prune
	chk = checkout
	lg = log --oneline
	newb = switch -c
	pl = pull
	plom = pull origin main
	ps = push
	psf = push --force
	psfnv = push --force --no-verify
	psnv = push --no-verify
	psuo = push -u origin
	r = rebase
	ri = rebase -i
	ri2 = rebase -i HEAD~2
	ri3 = rebase -i HEAD~3
	ri4 = rebase -i HEAD~4
	ri5 = rebase -i HEAD~5
	ri6 = rebase -i HEAD~6
	ri7 = rebase -i HEAD~7
	ri8 = rebase -i HEAD~8
	ri9 = rebase -i HEAD~9
	ri10 = rebase -i HEAD~10
	rc = rebase --continue
	ra = rebase --abort
	rs = restore
	rst = restore --staged
	shed = show HEAD
	sh = stash
	sd = stash drop
	sp = stash pop
	st = status
	sw = switch
[advice]
	skippedCherryPicks = false
[commit]
	gpgsign = true
[core]
	editor = vim
	pager = delta
[credential]
	helper = store
[format]
	pretty = oneline
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[pull]
	rebase = true
[push]
	autoSetupRemote = true

# Delta Plugin (better git diffs with fzf)
[delta]
	navigate = true # move between diff sections with n/N
    	side-by-side = true
