[user]
	name = Mun Joon Teo
	email = teomunjoon101@gmail.com
[color]
	ui = auto 
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "status"]
	added = green bold
	changed = red bold
	deleted = red bold
	untracked = yellow bold
[alias]
	a = add
	br = branch
	c = commit
	com = commit -m
	comamend = commit --amend --no-edit
    amendmsg = commit --amend
	cl = clone
	f = fetch
	chk = checkout
	newb = checkout -b
	pl = pull
	plom = pull origin master
	ps = push
	psf = push --force
    pso = push --set-upstream origin
	r = rebase
    ri = rebase -i
    ri2 = rebase -i HEAD~2
    rc = rebase --continue
    ra = rebase --abort
    sh = stash
    sp = stash pop
	st = status
	lg = log --oneline
[format]
	pretty = oneline
[core]
	editor = vim
[advice]
	addEmptyPathspec = false
[pull]
	rebase = true
[credential]
	helper = cache --timeout 604800
