[user]
	name = Mun Joon Teo
	email = teomunjoon101@gmail.com
[color]
	ui = auto 
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "status"]
	added = green bold
	changed = red bold
	deleted = red bold
	untracked = yellow bold
[advice]
	skippedCherryPicks = false
[alias]
	a = add
	br = branch
	com = commit -m
	comnv = commit --no-verify -m
	comsign = commit -S -m
	comamend = commit --amend --no-edit
	comamendnv = commit --amend --no-edit --no-verify
	amendmsg = commit --amend
	amenddate= commit --amend --reset-author
	amendmsgnv = commit --amend --no-verify
	chk = checkout
	cl = clone
	cp = cherry-pick
	cpc = cherry-pick --continue
	cpa = cherry-pick --abort
	f = fetch
	lg = log --oneline
	newb = switch -c
	pl = pull
	plom = pull origin master
	ps = push
	psf = push --force
	psuo = push -u origin
	r = rebase
	ri = rebase -i
	ri2 = rebase -i HEAD~2
	ri3 = rebase -i HEAD~3
	ri4 = rebase -i HEAD~4
	rc = rebase --continue
	ra = rebase --abort
	shed = show HEAD
	sh = stash
	sd = stash drop
	sp = stash pop
	st = status
	sw = switch
[core]
	editor = vim
[format]
	pretty = oneline
[diff]
	wsErrorHighlight = all
[pull]
	rebase = true

